# Node / JS
node_modules/
.DS_Store
**/node_modules/
dist/
.build/
.cache/
.npm/
.pnpm-store/
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
coverage/
*.log
.env
.env.*
